body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f7f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2{
    color: #5b4f47;
  }
  .container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    width: 300px;
    text-align: center;
  }
  
  input {
    /* margin-right: 10px; */
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-color: #534741;
    background-color: #ddc1a7;
  }
  
  button {
    margin-left: 10px;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #534741;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6C574A;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  